/* navbar.css */
.navbar {
  position: sticky;
  top: 40%;
  box-shadow: none;
  width: 65px; /* Initial width to fit only icons */
  transition: width 0.3s ease-in-out, box-shadow 0.3s ease-in-out; /* Smooth width transition */
}

.navbar:hover {
  width: 150px; /* Expand width to fit text labels on hover */
  box-shadow: -4px 4px 4px rgb(204 204 204 / 25%);
}

.nav-item {
  display: flex;
  align-items: center;
  gap: 10px; /* Adjust gap as needed */
}

.text-hover{
  border-radius: 10px;
  color: black;
  background-color: transparent;
  padding: 10px 12px;
  transition: all 300ms ease-in-out;
}

.text-hover:hover{
  background-color: black;
  color: white;
  /* border-radius: 10px; */
}

.active{
  color: white;
  background-color: black;
}

.nav-text {
  max-width: 0; /* Initially hide text */
  opacity: 0;
  overflow: hidden;
  white-space: nowrap; /* Prevent text from wrapping */
  transition: max-width 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Smooth transitions */
}

/* Ensure the text becomes visible on hover */
.navbar:hover .nav-text {
  max-width: 100px; /* Adjust this value based on the length of your longest label */
  opacity: 1;
}
